<html>
<head>
    <title>My first blog</title>
  </head>
  <body>

    <div>
<h1><a href="">My first blog</a></h1>
    </div>

    <div >
      <p>published today</p>
        <h2><a href="https://docs.djangoproject.com/en/1.9/ref/models/fields/#field-types">New Post 1</a></h2>
        <p>
          Hello
        </p>
    </div>

    <div>
      <p>published todaymamamamamamamamm</p>
      <h2><a href="https://docs.djangoproject.com">New Post 2</a></h2>
      <p>
        Good coffee
      </p>
    </div>
<div>
  <p>published today</p>
  <h2><a href="https://docs.djangoproject.com">New Post 3</a></h2>
  <p>
    Start something
  </p>

</div>
  </body>

</html>
